// PixelContent
.pixelArtContainer {
    margin-top: 184px;
    width: 100%;
}

.spriteContainer {
    width: 100%;
    margin-bottom: -48px;
}

.sidewalk {
    width: 200%;
    height: 150px;
    background: url('~static/street_purp.png');
    background-size: contain;
}

@mixin sprite($leftMod, $topMarg) {
    position: absolute;
    margin: 0 auto;
    left: 0 + $leftMod;
    right: 0;
    margin-top: $topMarg;
}

.objSprite {
    @include sprite(15%, -8px);
}

.troySprite {
    @include sprite(-15%, 8px);
    z-index: 2;
}