@import 'fonts';

////////////
// FONTS //
//////////
%small-font {
    font-size: 24px;
}

%medium-font {
    font-size: 48px;
}

%large-font {
    font-size: 72px;
}

%VT-small {
    color: white;
    @extend %VT323;
    @extend %small-font;
}

%VT-medium {
    color: white;
    @extend %VT323;
    @extend %medium-font;
}

%VT-large {
    color: white;
    @extend %VT323;
    @extend %large-font;
}