@import 'fonts';

////////////
// FONTS //
//////////
%small-font {
    font-size: 16px;
}

%medium-font {
    font-size: 24px;
}

%large-font {
    font-size: 36px;
}

%VT-medium {
    @extend %VT323;
    @extend %medium-font;
}

%VT-large {
    @extend %VT323;
    @extend %large-font;
}