@import '~styles/global';

// Wrappers
%wrapper {
    margin: 16px;
}

.navWrapper {
    @extend %wrapper;
    text-shadow: 2px -2px #000;
}

.nameWrapper {
    @extend %VT-large;
    @extend %wrapper;
    font-style: italic;
    text-shadow: 2px -4px #000;
}


// Links
a {
    @extend %VT-medium;
    text-decoration: none;
    margin-right: 16px;
}

.navActive {
    text-decoration: underline !important;
}