@import '~styles/global';

a {
    text-decoration: none;
    color: black;
    margin: 0px 16px;
    @extend %VT-large;
    display: block;
}

.navActive {
    text-decoration: underline !important;
}

.navWrapper {
    display: inline-flex;
    flex-direction: column;
}