@mixin spriteContainer($max-dimension) {
    max-width: $max-dimension;
}

.small {
    @include spriteContainer(128px)
}

.medium {
    @include spriteContainer(256px)
}

.large {
    @include spriteContainer(512px)
}

.sprite {
    width: 100%;
    margin: auto;
}