@mixin spriteContainer($max-dimension) {
    max-width: $max-dimension;
}

.small {
    @include spriteContainer(128px)
}

.medium {
    @include spriteContainer(256px)
}

.large {
    @include spriteContainer(512px)
}

.spriteContainer {
    display: flex;
    align-items: flex-end;
}

.sprite {
    width: 100%;
}